@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.footer {
    color: #F9FAF8;
    background: #1F2937;
}

.header {
    padding: 18px 180px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
}

.hero {
    padding: 120px 180px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

a,
.hero-text,
.action-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    width: 35vw;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

img {
    width: 35vw;
    height: 35vh;
    object-fit: cover;
}

button {
    padding: 8px 36px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    border-radius: 12px;
    cursor: pointer;
}

button,
.action {
    background: #3882F6;
}

.hero-button {
    border: none;
}

.action-button {
    border: 2px solid #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

.main,
.quote {
    color: #1F2937;
}

h2,
.info-container {
    margin: 48px 180px;
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.info {
    max-width: 148px;
    padding-bottom: 48px;
    text-align: center;
}

.main-image {
    height: 140px;
    width: 140px;
    border: 4px solid #3882F6;
    border-radius: 15%;
}

.quote {
    background: #E5E7EB;
    padding: 120px 276px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 24px;
}

.quote-author {
    text-align: right;
}

.quote-author,
.action-title {
    font-size: 24px;
    font-weight: 800;
}

.action {
    color:#F9FAF8;
    margin: 80px 180px;
    padding: 48px 96px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}